body {
    background: url(../img/elections.jpg) no-repeat fixed ;
    background-size: 100% 100%;
    color: white !important ;
    font-weight: bold !important ;
    font-family: 'Open Sans', sans-serif !important ;
}

.wrapper {
    margin-top: 120px ;
    color: white !important ;
    font-family: 'Open Sans', sans-serif !important ;
}

.wrapper > .container {
    min-height: 500px ;
    position: relative;
}

.wrapper > .container > img {
    height: 250px ;
    float: left ;
    max-width: 25% ;
}

.content {
    /*background: rgba(255, 255, 255, 0.8) ;*/
    margin-left: 235px ;
    /* color: #333 !important ;*/
    border-radius: 40px ;
}
.content > h2 {
    margin-top: 0px ;
}

.content img {
    height: 200px ;
    max-width: 100% ;
}

.content .white {
    height: 200px ;
    background: white ;
    width: 100% ;
    border-radius: 100px ;
    opacity: 0.5 ;
}

.contant p {
    font-weight: bold ;
}

.content .row > div,
.content .row > div h4,
.content .row > div .buttons {
    text-align: center ;
}

.content .row > div .buttons button {
    min-width: 100px ;
}

.content div.clearfix {
    height: 40px ;
}

.countdown {
    text-align: center ;
}

.countdown-section {
    display: block ;
    float: left ;
    width: 30% ;
    padding-top: 20px ;
    padding-bottom: 20px ;
    margin: 20px 2px ;
    font-size: 18px ;
    font-weight: bold ;
    background: rgba(128, 128, 128, 0.3) ;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.3) ;
}

.countdown-section .countdown-amount {
    font-size: 35px ;
}

.vote > * {
    display: block ;
    text-align: center ;
    margin: auto ;
}

.vote i {
    font-size: 140px;
}

.vote span {
    margin-top: 20px ;
    font-size: 30px;
}


@media(max-width: 1170px) {
    .wrapper {
        margin-top: 40px ;
    }
    .wrapper > .container {
        min-height: 0 ;
    }
    .wrapper > .container > img {
        height: auto ;
        width: 25% ;
    }
    .wrapper .content {
        margin-left: 255px ;
    }
}

@media(max-width: 715px) {
    .wrapper {
        margin-top: 20px ;
    }
    .wrapper > .container > img {
        float: none ;
        height: auto ;
        width: 100% ;
    }
    .wrapper > .container .content {
        margin-left: 0 ;
    }
    .wrapper .row > div {
        margin-bottom: 20px ;
    }
    .wrapper .white {
        margin: auto ;
        width: 200px ;
    }
    .countdown-section {
        width: 100% ;
    }
}